body {
  margin: 0 auto;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}
header {
  display: flex;
  background-color: #f58f8f;
  color: white;
  padding: 2rem;
}
header a {
  width: 100%;
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
  font-weight: bolder;
}
.btn {
  background-color: #f58f8f;
  border: 0px;
}
.btn:hover,
.btn:visited,
.btn:active,
.btn:link,
.btn-primary:focus-visible {
  border: 2px solid grey;
  background-color: #f58f8f;
}
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:active,
.btn-primary:link,
.btn-primary:focus-visible {
  border: 2px solid grey;
  background-color: #f58f8f;
}
#save:active {
  border: 2px solid grey;
  background-color: #f58f8f;
}
#message-form button:active {
  border: 2px solid grey;
  background-color: #f58f8f;
}
.form-check-input {
  border: 2px solid grey;
}
.form-check-input:checked {
  border: 2px solid grey;
  background-color: #f58f8f;
}

img {
  box-shadow: 1px 1px 5px grey;
}
form {
  color: black;
}
i {
  color: white;
}
h1 {
  font-family: "Instrument Serif", serif;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 50px;
  border: 2px solid white;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}

h2 {
  font-family: "Instrument Serif", serif;
  color: white;
  border: 2px solid white;
  margin: 10px auto;
  background-color: #f58f8f;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
}

#main-container {
  width: 90vw;
  margin: 0 auto;
}

#Search-btn {
  background-color: #f58f8f;
  border: 1px solid grey;
}
#picturebox {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

#picturebox img {
  border: 2px solid white;
  margin: 10px;
  flex-grow: 2;
  width: 150px;
  height: auto;
}
#card-box {
  position: relative;
  width: 400px;
}
#card-box img {
  width: 100%;
}
#your-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#your-img h2 {
  width: 70%;
}

.card-img {
  width: 400px;
}
.light {
  color: white;
}

.dark {
  color: black;
}
#button-column {
  display: none;
}
.top-left {
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 25px;
}

.top-center {
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 50%;
}

.top-right {
  opacity: 1;
  position: absolute;
  top: 50px;
  right: 25px;
}
.middle-left {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 25px;
}

.middle-center {
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 40%;
}
.middle-right {
  opacity: 1;
  position: absolute;
  top: 50%;
  right: 25px;
}
.bottom-left {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 25px;
}
.bottom-center {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.bottom-right {
  opacity: 1;
  position: absolute;
  bottom: 0;
  right: 25px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hide {
  display: none;
}
