#picturebox {
    display:flex;
    flex-wrap: wrap;
}
#picturebox img {
    border: 2px solid black;
}
#card-box{
    position: relative;
    width: 30vw;

}
#card-box img {
    width: 100%;
}
.top-left{
    opacity: 1;
    position: absolute;
    top: 50px;
}
#button-column{
    display: none;
}

.top-center{
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 50%;
}

.top-right{
    opacity: 1;
    position: absolute;
    top: 50px;
    right:0;
}
.top-left{
    opacity: 1;
    position: absolute;
    top: 50px;
}

.top-left{
    opacity: 1;
    position: absolute;
    top: 50px;
}
.top-left{
    opacity: 1;
    position: absolute;
    top: 50px;
}
.top-left{
    opacity: 1;
    position: absolute;
    top: 50px;
}
.top-left{
    opacity: 1;
    position: absolute;
    top: 50px;
}
.top-left{
    opacity: 1;
    position: absolute;
    top: 50px;
}